body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Puedes ajustar el tamaño */
    color: white;
    pointer-events: none;  /* Asegura que no interfiera con otros eventos del mouse */
    user-select: none;     /* Evita que el texto sea seleccionado */
  }
  